.parent {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    align-items: center;

    /* add solution here */
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
}
